@import "tailwindcss";

:root {
  @apply bg-slate-200/55;
}

@theme {
  --color-primary: var(--color-slate-800);
  --color-secondary: var(--color-slate-200-55);
  --color-accent: var(--color-blue-500);
}